line.tick, line.identity-line {
  stroke: var(--bg-mild);
}
line.axis-border {
  stroke: var(--text-accent);
}
text.tick-x {
  text-anchor: middle;
  dominant-baseline: hanging;
}
text.tick-y {
  text-anchor: end;
  dominant-baseline: central;
}
