:root {
  --bg: #121212;
  --bg-mild: #282828;
  --text: #e0e0e0;
  --text-accent-strong: #b9e0e1;
  --text-accent: #93e0e3;
  --text-dim: #63898b;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --bg-mild: #eee;
    --text: #333333;
    --text-accent-strong: #76898a;
    --text-accent: #63898b;
    --text-dim: #999;
  }
}
svg {
  background-color: var(--bg);
}
text {
  fill: var(--text);
  font-family: monospace;
}
polygon, path, circle {
  stroke: var(--text);
  fill: var(--bg-mild);
}
line {
  stroke: var(--text-accent);
}
line.tic {
  stroke: var(--bg-mild);
}
.ai {
  fill: rgba(173, 216, 230, 0.7);
  stroke-width: 0;
}
.human {
  fill: rgba(255, 182, 193, 0.7);
  stroke-width: 0;
}
rect.ai {
  stroke: var(--text-dim);
  stroke-width: 0.5;
}
rect.human {
  stroke: var(--text-dim);
  stroke-width: 0.5;
}
text.tic-value-x, text.tic-value-y {
  fill: var(--text-dim);
  font-family: monospace;
}
text.tic-value-x {
  text-anchor: middle;
  dominant-baseline: hanging;
}
text.tic-value-y {
  text-anchor: end;
  dominant-baseline: central;
}
text.label-x, text.label-y {
  text-anchor: middle;
}
text.boxplot-label {
  text-anchor: middle;
  dominant-baseline: hanging;
}
text.label-x {
  transform: rotate(-90 15,200);
}
rect.boxplot {
  fill: var(--text-dim);
}
.lineplot-line {
  fill: none;
}